<html>
<head>
<script>
//var load=0;
</script>
</head>
<body onload="show()">
<form action="/add" method="get">
Enter first number:
<input type="text" id="num1" name="num1">
Enter second number:
<input type="text" id="num2" name="num2">
<button type="submit">Add</button>
</form>

<h2>Sum is</h2>
<p id="result"></p>

<script>
function show(){

	alert("hello");
/*load=load+1;

if(load=='1')
document.getElementById("result").innerHTML="";

else if(load=='2')
document.getElementById("result").innerHTML="<% = sum %>";
*/

}

</script>


</body>
</html>